/* Utility Classes */
/*media queries */
@media only screen and (max-width: 600px) {

  .row-wrapper {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
  }

  .row-wrapper {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0;
  }

  .display-1 {
    font-size: 10px;
  }

  /* Header */

  .container {
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .mainheader {

    font-size: 30px;
    text-align: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }


  .mainheader h2 {
    font-size: 30px;
    margin: 15px;
  }

  .mainheader p {
    margin: 10px;
    font-size: 20px;
  }

  /* Navbar */

  #navbar {
    height: 400px;


  }

  .container-navbar h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }

  .nav {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Showcase */
  .showcase {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  /* Work */
  .work-row {
    flex-direction: column;
  }

  /* About */
  #about {
    flex-direction: column;
  }

  #about-slim {
    display: none;
  }

  /* footer */
  #contact {
    padding: 80px 0;
  }

  #contact-info p {
    font-size: 14px;
  }

  #contact-logo img {
    height: 60px;
  }

  #contact-social img {
    height: 20px;
    margin: 2px;
  }

  /*porfolio*/
  .portfolio-wrap {
    flex-direction: column;
  }

  .portfolio-wrap-box {
    width: 100%;
    margin-bottom: 15px;
  }

  .portfolio-wrap-box img {
    width: 100%;
    height: 100%;
  }


  /*contacto*/

  #formulario {
    padding-top: 50px;
    text-align: center;
  }

  #formulario-wrapper {
    grid-template-columns: 1fr;
  }

  #formulario-wrapper-form {
    padding: 20px;
  }

  #formulario-wrapper-content {
    padding: 20px;
  }

  #contact-container {
    display: flex;
    flex-flow: column wrap;
    flex-flow: column wrap;
  }

  h1 {
    line-height: 1em;
  }

  /* contacto app */
  .box-2 {
    float: none;
    width: 100%;
    height: 100%;
  }

  #display-img img {
    /* width: 100%; */
    padding: 70px 50px;
  }

  /* Display Content */
  #display-content {
    text-align: center;
    padding: 50px 20px;
  }

  #display-content p {
    padding: 20px 0px 10px 0px;
  }

}

@media only screen and (max-width: 990px) {}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0 10px;
}