.bg__footer{
    background-color: $color-principal;
}

.logo__footer{
    height: $height-logo-footer;
    border-radius: $border-logo;    
}


$redes:(
    color--fb:black,
    color--twitter: black,
    color--google: black,
    color--instagram:black,
    color--linkedin:black,
    color--github:black,
);


.facebook--logo{
    background-color: map-get($redes,color--fb);
}

.twitter--logo{
    background-color: map-get($redes, color--twitter);
} 
.google--logo{
    background-color: map-get($redes, color--google);
}
.instagram--logo{
    background-color: map-get($redes, color--instagram);
}
.linkedin--logo{
    background-color: map-get($redes, color--linkedin);
}
.github--logo{
    background-color: map-get($redes, color--github);
}