/*main index*/
.banner {
    background: linear-gradient(to right, rgba(0, 0, 144, 0.2), rgba(128, 133, 133, 0.7)), url(../img/baner-2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .banner .row h2 {
        text-align: center;
        font-size: 3rem;
        color: white;
        margin: 0 1.5rem;
    }


    .btn-dark {
        @extend %btn;
        background: #000;
        color: #fff;

        &:hover {
            background: lighten(#000, 10%);
        }
    }

    .change {
        display: inline-block;
        vertical-align: bottom;
        animation: blinker 2s linear infinite;
        animation-delay: -1s;
    }

    .change span {
        color: #2e2e2e;
        float: left;
        overflow: hidden;
        animation: hideShow 12s linear infinite;
    }

    .change span:nth-child(1) {
        animation-delay: -0s;
    }

    .change span:nth-child(2) {
        animation-delay: -2s;
    }

    .change span:nth-child(3) {
        animation-delay: -4s;
    }

    .change span:nth-child(4) {
        animation-delay: -6s;
    }

    .change span:nth-child(5) {
        animation-delay: -8s;
    }

    .change span:nth-child(6) {
        animation-delay: -10s;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    @keyframes hideShow {

        0%,
        16.6%,
        33.33%,
        100% {
            width: 0;
        }

        16.66%,
        33.3% {
            width: auto;
        }
    }
}


   

/*pasteleria*/
.main-pasteleria {
    background: $gray3-color;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    //End #mai

    .portfolio {
        background: $gray1-color;

        .portfolio-wrap {
            display: flex;
            justify-content: space-between;

            &-box {
                img {
                    height: 300px;
                }

                p {
                    background: #ededed;
                    padding: 20px;
                }
            }
        }
    }
}

//End #portfolio*/