/*main index*/
// Showcase
#showcase {
    background: url('../img/baner-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    .showcase-content {
      text-align: center;
      padding: 150px;
      &-box {
        background: rgba(255, 255, 255, 0.5);
        width: 70%;
        margin: 0 auto;
        padding: 80px 120px;
        color: #fff;
        a {
          padding: 13px 45px;
        }
      }
    } //End .showcase-content
  } //End #showcase
  

// recomendados
#destacados {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    div {
        width: 10%;
        margin: 0 auto;
    }
}

// Products
#products {
    display: flex;

    .box {
        position: relative;
        width: 100%;
        margin: 20px;

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #fff;

            .text {
                color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;

                a {
                    padding: 7px 10px;
                }
            }
        }

        //End .overlay
    }

    //End .box
    .box:hover .overlay {
        opacity: 0.9;
    }

    .box-1 {
        background: url('../img/modelo19.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-2 {
        background: url('../img/modelo20.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-3 {
        background: url('../img/modelo21.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-4 {
        background: url('../img/modelo22.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-5 {
        background: url('../img/modelo23.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-6 {
        background: url('../img/modelo24.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-7 {
        background: url('../img/modelo25.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-8 {
        background: url('../img/modelo26.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-9 {
        background: url('../img/modelo27.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }

    .box-10 {
        background: url('../img/modelo28.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 280px;
    }
}

//End #products

// Product
#product {
    .product-wrap {
      display: flex;
      background: #fff;
      padding: 90px 70px;
    }
  }


/*pasteleria*/
.main-pasteleria {
    background: $gray3-color;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    //End #mai

    .portfolio {
        background: $gray1-color;

        .portfolio-wrap {
            display: flex;
            justify-content: space-between;

            &-box {
                img {
                    height: 300px;
                }

                p {
                    background: #141313;
                    padding: 20px;
                }
            }
        }
    }
}

//End #portfolio*/
//contacto
