//nav-header
// Header
.mainheader {
    h1 {
        float: left;
        font-size: 1.9rem;
        color:$myColor;
    }

    ul {
        float: right;
        padding-top: 10px;

        li {
            display: inline-block;
            padding-right: 20px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .current {
        text-decoration: underline;
    }
}

// Showcase
#showcase {
    background: url('../img/baner-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 290px 90px;
    align-items: center;
    justify-content: center;
    

    h2 {
        padding-top: 30px;
    } 
      
}