




/* Header *
.mainheader {
    background: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.479)), url(../img/baner-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;

    .showcase-content {
        text-align: center;
        padding: 150px;

        .showcase-content-box {
            text-align: center;
            padding-top: 100px;


            h2 {
                display: flex;
                text-align: center;
                justify-content: center;
                padding: 20px;
                font-weight: lighter;
                align-content: center;
                justify-content: center;
                align-items: center;
            }

            &-box {
                background: rgba(255, 255, 255, 0.5);
                width: 70%;
                margin: 0 auto;
                padding: 80px 120px;
                color: #fff;

                a {
                    padding: 13px 45px;
                }
            }
        }
    }
}//*/
