#navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;


    .navbar .logo img {
        height: 60px;


        a {
            color: #7e5231;
            font-size: 15px;
            font-weight: 40px;
            text-transform: uppercase;
        }
    }

    .nav {
        display: flex;
        float: left;

        li {
            margin-left: 40px;
            list-style: none;
            float: left;


            a {
                display: block;
                padding: 20px;
                text-align: center;



                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Header */
.mainheader {
    background: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.479)), url(../img/baner-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: white;

    .showcase {
        text-align: center;
        padding-top: 200px;


        h1 {
            display: flex;
            text-align: center;
            justify-content: center;
            padding: 20px;
            font-weight: lighter;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        p {
            display: flex;
            text-align: center;
            justify-content: center;
            width: 65%;
            margin: 0 auto;
            font-weight: lighter;
        }
    }
}