@mixin flex($dir , $wrap , $just , $align ) {
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin media() {
    @media screen and (max-width:600px) {
        @content
    }
}


@mixin btn ($backgrund-color, $color, $bold) {

    background-color: $backgrund-color;
    color: $color;
    border-radius: 50px;
    padding: 20px 3px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}