/*media queries */
/*ms*/
@media only screen and (max-width: 600px) {

    /*navbar*
    #navbar {
        height: 400px;

        .container-navbar {
            .logo {
                float: none;
                margin-bottom: 20px;
            }

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 25px;
            }

        }

        .nav {

            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            li {
                float: none;

                a {
                    padding: 10px;
                }
            }
        }
    }

    //header
    .mainheader {
        font-size: 30px;
        width: 100vw;

        .showcase-content {
            height: 100%;

            .showcase-content-box {
                padding: 30px;

                &-box {
                    width: 100%;
                    padding: 20px;

                    p {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }*/
    // Header
    #top {
        height: 100%;
    }

    // Navbar
    #navbar {
        text-align: center;

        .logo {
            float: none;
        }

        //End .logo
        ul {
            float: none;

            li {
                float: none;

                a {
                    padding: 5px;
                }
            }
        }

        //End ul
    }

    //End #navbar

    // Showcase
    #showcase {
        padding: 20px;
    }

    // Galleri-index

    .main-productos {
        width: 100%;
        height: 100%;

        #gallery {
            flex-direction: column;

            .gallery-wrap {

                img {
                    flex-direction: column;
                    height: 250px;
                    width: 100%;
                    margin: 0px;
                }
            }
        }
    }

    /* Work */
    .work-row {
        flex-direction: column;

    }

    /* About */
    #about {
        flex-direction: column;


        .about-slim {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    /* footer */
    #contact {
        padding: 80px 0;
    }

    #contact-info p {
        font-size: 14px;
    }

    #contact-logo img {
        height: 60px;
    }

    #contact-social img {
        height: 20px;
        margin: 2px;
    }

    /*porfolio pasteleria*/
    .display-3 {
        font-size: 30px;
    }

    .portfolio-wrap {
        flex-direction: column;
    }

    .portfolio-wrap-box {
        width: 100%;
        margin-bottom: 15px;
    }

    .portfolio-wrap-box img {
        width: 100%;
        height: 100%;
    }

}

/*m*/

@media only screen and (min-width: 768px) {
    #portfolio {
        .portfolio-wrap {
            flex-direction: column;

            &-box {
                width: 100%;
                margin-bottom: 15px;

                img {
                    // height: 300px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {}

/* xl */
@media only screen and (min-width: 950px) {}