$font-title: 'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;

// Colors
$myColor: white;
$main-color: #fcf7ed;
$secondary-color: black;
$gray1-color: #4d4d4d;
$gray2-color: #707070;
$gray3-color: #9b9b9a;

h1 {

    $myColor: white;
    color: $myColor;
}

p {
    color: $main-color;

}

a {
    color: $myColor;
    $myFont: Helvetica,
    sans-serif;
    $myFontSize: 10px;
}