$font-title: 'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;

// Colors
$myColor: white;
$main-color: #fcf7ed;
$secondary-color: black;
$gray1-color:#d8a378;
$gray2-color: rgb(255, 240, 240);
$gray3-color: rgb(163, 145, 112);
$myFontSize: 10px;
$myFont: Helvetica,
sans-serif;

:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}